<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <% if notice.present? %>
      <p style="color: green"><%= notice %></p>  
    <% end %>

    <%= link_to "Home", root_path rescue nil  %>
    -
    <%= link_to "Users", users_path rescue nil %>
    -
    <%= link_to "Photos", photos_path rescue nil %>
    -
    <%= link_to "Accounts", accounts_path rescue nil  %>
    -
    <%= link_to "Categories (in namespace)", secret_admin_categories_path rescue nil  %>
    -
    <%= link_to "Companies", companies_path rescue nil  %>
    <br>
    <%= yield %>
  </body>
</html>
