<h1><%=  @mega_scaffold[:model].to_s.pluralize %></h1>

<%= link_to 'NEW', [:new, @mega_scaffold[:model].to_s.downcase.to_sym] %>

<table>
  <thead>
    <tr>
      <% @mega_scaffold[:index][:columns].each do |e| %>
        <th><%= e %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <% @records.each do |record| %>
    <tr>
      <% @mega_scaffold[:index][:columns].each do |e| %>
        <td>
          <%= record.send(e) %>
        </td>
      <% end %>
      <td><%= link_to 'show', record %></td>
      <td><%= link_to 'edit', [:edit, record] %></td>
      <td><%= link_to 'delete', record, data: { method: :delete, turbo: false, turbolinks: false, confirm: "Are you sure?" } %></td>
    </td>
  <% end %>
</table>