<h1><%= %></h1>

<dl>
  <% @mega_scaffold[:form][:fields].each do |e| %>
    <dt><%= e %>:</dt>
    <dd><%= @record.send(e) %></dd>
  <% end %>
</dl>

<%= link_to 'Back', action: :index %>
<%= link_to 'Edit', [:edit, @record] %>