<h1><%= mega_scaffold.model %></h1>

<dl>
  <% mega_scaffold.fields.each do |field| %>
    <dt><%= field[:name] %>:</dt>
    <dd>
      <%= mega_scaffold_value @record, field %>
    </dd>
  <% end %>
</dl>

<%= link_to 'Edit', [:edit, @record] %>
-
<%= link_to 'Back', action: :index %>