<%= mega_scaffold_default_css %>

<div class="mega_scaffold_container">
  <div class="mega_scaffold_container_header">
    <h1><%= mega_scaffold.model.to_s.pluralize %></h1>
    <div class="mega_scaffold_container_header_actions">
      <%= link_to 'New', { action: :new }, { class: 'button btn btn-primary' } %>
      <% if @parent %>
        &mdash;
        <%= link_to 'Back', mega_scaffold_parent_url %>
      <% end %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% mega_scaffold.fields.each do |field| %>
          <th><%= field[:name] %></th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% if @records.present? %>
        <% @records.each do |record| %>
          <tr>
            <% mega_scaffold.fields.each do |field| %>
              <td>
                <%= mega_scaffold_value record, field, :index %>
              </td>
            <% end %>
            <td><%= link_to 'show', { action: :show, record.class.primary_key => record } %></td>
            <td><%= link_to 'edit', { action: :edit, record.class.primary_key => record } %></td>
            <td><%= link_to 'delete', { action: :show, record.class.primary_key => record }, data: { method: :delete, turbo: false, turbolinks: false, confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="<%= mega_scaffold.fields.size + 1 %>">
            No Records.
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <% if respond_to?(:paginate) %>
    <%= paginate @records %>
  <% elsif respond_to?(:will_paginate) %>
    <%= will_paginate @records %>
  <% end %>
</div>