<%= mega_scaffold_default_css %>

<div class="mega_scaffold_container">
  <h1><%= mega_scaffold.model %></h1>

  <dl>
    <% mega_scaffold.show.each do |field| %>
      <dt><%= mega_scaffold_field_name field %>:</dt>
      <dd>
        <%= mega_scaffold_value @record, field %>
      </dd>
    <% end %>
  </dl>

  <%= link_to 'Edit', { action: :edit, mega_scaffold.pk => @record.send(mega_scaffold.pk) }, { class: 'button' } %>
  -
  <%= link_to 'Back', { action: :index }, { class: 'button' } %>
</div>